@use "base/generales";
@use "base/queries";
@use "base/variables";
@use "pages/combos";
@use "pages/index";
@use "pages/mas-informacion";
@use "pages/muebles-a-medida";
@use "pages/productos";
@use "componentes/heder";
@use "componentes/footer";
@use "componentes/botones";
@use "utilities/exentd";
@use "utilities/mixin";