main {
    div {
        img {
            width: 1490px;
            height: auto;
            }
        }
    article{
        h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #623b21;
        }
        .precio-anterior {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: grey;
    text-decoration: line-through;
}
        .precio-oferta {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: black;
}
        }
    .articulo{
    padding: 0px 0px 40px;
        }
    }




