@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/exentd";
@use "../utilities/mixin";
main {
    div {
        img {
            width: 100%;
            }
        }
    article{
        h2{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: map.get(mapa.$colores,color-primario);
        }
        .precio-anterior {
    @include mixin.tipografia(("Roboto", sans-serif), 20px, grey, line-through);
}
        .precio-oferta {
    @include mixin.tipografia(("Roboto", sans-serif), 20px, black);
    color: black;
}
        }
    .articulo{
    padding: 0px 0px 40px;
        }
    }




