@use "../utilities/exentd";
section{
    .proyectos {
    padding: 25px 0px 40px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px 300px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
        div{
            border: 3px solid whitesmoke;
            position: relative;
            overflow: hidden;
            &:hover {
                cursor: pointer;
                &::after{
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background-color: rgba(80, 44, 14, 0.671);
            }
            img {
                transform: scale(1.2);
            }
            }
            &:hover { 
                p{
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            p {
                color: white;
                font-family: "Roboto", sans-serif;
                font-size: 35px;
                position: absolute;
                top: calc(50% - 26px);
                left: calc(50% - 64px);
                z-index: 3;
                opacity: 0;
                transition: transform 1s;
                transform: translateX(-250px);
            }
            img{
                width: 300px;
                height: auto;
                object-fit: cover;
                transition: transform .5s;
            }
        }
    }
}
main {
    .ideas {
        @extend %flex-center;
    }
    .formulario-ideas {
        @extend %flex-center;
        padding: 20px 30px;
        margin: 20px;
        .ideas-proyecto{
            .nombrel {grid-area: nombrel;}
            .nombrei {grid-area: nombrei;}
            .apellidol {grid-area: apellidol;}
            .apellidoi {grid-area: apellidoi;}
            .telefonol {grid-area: telefonol;}
            .telefonoi {grid-area: telefonoi;}
            .emaill {grid-area: emaill;}
            .emaili {grid-area: emaili;}
            .descripcionl {grid-area: descripcionl;}
            .descripciont {grid-area: descripciont;}
            .linkl {grid-area: linkl;}
            .linkt {grid-area: linkt;}
            .boton-enviar {grid-area: enviar;}
            width: 100%;
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "nombrel apellidol"
            "nombrei apellidoi"
            "telefonol emaill"
            "telefonoi emaili"
            "descripcionl descripcionl"
            "descripciont descripciont"
            "linkl linkl"
            "linkt linkt"
            "enviar enviar";
        }
    }
}