main {
    .productos {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 2rem;
        padding: 10px;
        .filtros {
            background-color: rgb(214, 214, 214);
            h2 {
            font-family:"Roboto", sans-serif;
            font-size: 25px;
            color: #623b21;
            margin: 10px;
            }
            section {
                    h3 {
                        font-family:"Roboto", sans-serif;
                        color: black;
                        font-size: 20px;
                        margin: 10px;
                        padding: 5px;
                    }
                    form {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;
                        padding: 10px;
                    }
                }
        }
    }
}