@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/mixin";
main {
    .productos {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 2rem;
        padding: 10px;
        .filtros {
            background-color: map.get(mapa.$colores,color-filtros);
            h2 {
            @include mixin.tipografia (("Roboto", sans-serif), 25px, map.get(mapa.$colores,"color-primario"));
            margin: 10px;
            }
            section {
                    h3 {
                        @include mixin.tipografia (("Roboto", sans-serif), 20px, black);
                        margin: 10px;
                        padding: 5px;
                    }
                    form {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;
                        padding: 10px;
                    }
                }
        }
    }
}