main .ideas, main .formulario-ideas, main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: linear-gradient(#f2e7da, #cc9d63);
}
main h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #623b21;
  text-decoration: none;
}

footer section h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #623b21;
  text-decoration: none;
  margin: 10px;
}

@media (max-width: 768px) {
  header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  header .navegacion-principal {
    display: flex;
  }
  header .navegacion-principal .container-fluid .hamburguesa {
    display: block;
  }
  header .navegacion-principal .container-fluid .menu {
    display: none;
  }
  header .buscar {
    display: flex;
  }
  header .logo a img {
    width: 70px;
    height: auto;
  }
}
main .combos {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  padding: 10px;
}
main .combos .filtros {
  background-color: rgb(214, 214, 214);
}
main .combos .filtros h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #623b21;
  text-decoration: none;
  margin: 10px;
}
main .combos .filtros section h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}
main .combos .filtros section form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

main div img {
  width: 100%;
}
main article h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #623b21;
}
main article .precio-anterior {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: grey;
  text-decoration: line-through;
}
main article .precio-oferta {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  color: black;
}
main .articulo {
  padding: 0px 0px 40px;
}

section .proyectos {
  padding: 25px 0px 40px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 300px 300px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
section .proyectos div {
  border: 3px solid whitesmoke;
  position: relative;
  overflow: hidden;
}
section .proyectos div:hover {
  cursor: pointer;
}
section .proyectos div:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(80, 44, 14, 0.671);
}
section .proyectos div:hover img {
  transform: scale(1.2);
}
section .proyectos div:hover p {
  opacity: 1;
  transform: translateX(0);
}
section .proyectos div p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 64px);
  z-index: 3;
  opacity: 0;
  transition: transform 1s;
  transform: translateX(-250px);
}
section .proyectos div img {
  width: 300px;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s;
}

main .formulario-ideas {
  padding: 20px 30px;
  margin: 20px;
}
main .formulario-ideas .ideas-proyecto .nombrel {
  grid-area: nombrel;
}
main .formulario-ideas .ideas-proyecto .nombrei {
  grid-area: nombrei;
}
main .formulario-ideas .ideas-proyecto .apellidol {
  grid-area: apellidol;
}
main .formulario-ideas .ideas-proyecto .apellidoi {
  grid-area: apellidoi;
}
main .formulario-ideas .ideas-proyecto .telefonol {
  grid-area: telefonol;
}
main .formulario-ideas .ideas-proyecto .telefonoi {
  grid-area: telefonoi;
}
main .formulario-ideas .ideas-proyecto .emaill {
  grid-area: emaill;
}
main .formulario-ideas .ideas-proyecto .emaili {
  grid-area: emaili;
}
main .formulario-ideas .ideas-proyecto .descripcionl {
  grid-area: descripcionl;
}
main .formulario-ideas .ideas-proyecto .descripciont {
  grid-area: descripciont;
}
main .formulario-ideas .ideas-proyecto .linkl {
  grid-area: linkl;
}
main .formulario-ideas .ideas-proyecto .linkt {
  grid-area: linkt;
}
main .formulario-ideas .ideas-proyecto .boton-enviar {
  grid-area: enviar;
}
main .formulario-ideas .ideas-proyecto {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nombrel apellidol" "nombrei apellidoi" "telefonol emaill" "telefonoi emaili" "descripcionl descripcionl" "descripciont descripciont" "linkl linkl" "linkt linkt" "enviar enviar";
}

main .productos {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  padding: 10px;
}
main .productos .filtros {
  background-color: rgb(214, 214, 214);
}
main .productos .filtros h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #623b21;
  text-decoration: none;
  margin: 10px;
}
main .productos .filtros section h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}
main .productos .filtros section form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

header .botones {
  grid-area: botones;
  color: #623b21;
  font-size: 25px;
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 15px;
}
header .logo {
  grid-area: logo;
  padding: 15px;
}
header .navegacion-principal {
  grid-area: navegacion;
}
header .navegacion-principal .container-fluid .navbar-toggler {
  border: none;
  box-shadow: none;
}
header .navegacion-principal .container-fluid .collapse {
  justify-content: center;
}
header .navegacion-principal .container-fluid .collapse .navbar-nav {
  justify-content: center;
  width: 100%;
}
header .navegacion-principal .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #623b21;
  text-decoration: none;
}
header {
  background-color: #e3ebc6;
  display: grid;
  grid-template-areas: "logo busqueda busqueda botones" "navegacion navegacion navegacion navegacion";
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 40px;
}
header nav ul {
  column-gap: 70px;
  border-top: 2.5px solid lightgrey;
  padding: 20px 0px 10px;
}
header div a img {
  width: 100px;
  height: auto;
}

footer {
  background-color: #e3ebc6;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
footer form {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #623b21;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .contacto ul li {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #623b21;
  text-decoration: none;
}
footer .contacto ul li a {
  text-decoration: none;
}
footer section ul.info {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #623b21;
  text-decoration: none;
}
footer section ul.info li {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #623b21;
  text-decoration: none;
  text-decoration: none;
}
footer section ul.info li a {
  text-decoration: none;
}

.boton-producto {
  background-color: #623b21;
  color: white;
}
.boton-producto:hover {
  background-color: rgba(98, 59, 33, 0.7529411765);
}

.lupa {
  color: #623b21;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
