@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/exentd";
@use "../utilities/mixin";
main {
    background: linear-gradient(#f2e7da, #cc9d63);
    h1 {
    @include mixin.tipografia (("Roboto", sans-serif), 50px, map.get(mapa.$colores,"color-primario"));
    @extend %flex-center;
}
}
footer {
    section {
        h3 {
            @include mixin.tipografia (("Roboto", sans-serif), 20px, map.get(mapa.$colores,"color-primario"));
            margin: 10px;
        }
    }
}
