main {
    background-color: #f2e7da;
    h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: #623b21;
}
}
footer {
    section {
        h3 {
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            color: #623b21;
            margin: 10px;
        }
    }
}
