main {
    background: linear-gradient(#f2e7da, #cc9d63);
    h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: #623b21;
    display: flex;
    justify-content: center;
}
}
footer {
    section {
        h3 {
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            color: #623b21;
            margin: 10px;
        }
    }
}
