.boton-producto{
    background-color: #623b21;
    color: white;
}
.botones {
    grid-area: botones;
}
.botones{
    color: #623b21;
    font-size: 25px;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 15px;
}
.lupa {
    color: #623b21;
    font-size: 20px;
}