@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/mixin";
footer {
    background-color: map.get(mapa.$colores,color-secundario);
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    form {
        @include mixin.tipografia (("Roboto", sans-serif), 15px, map.get(mapa.$colores,"color-primario"));
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .contacto {
        ul {
            li {
                @include mixin.tipografia (("Roboto", sans-serif), 15px, map.get(mapa.$colores,"color-primario"));
                a {
                    text-decoration: none;
                }
            }
        }
    }
    section {
        ul.info {
            @include mixin.tipografia (("Roboto", sans-serif), 15px, map.get(mapa.$colores,"color-primario"));
            li {
                @include mixin.tipografia (("Roboto", sans-serif), 15px, map.get(mapa.$colores,"color-primario"));
                text-decoration: none;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}