@use "sass:map";
@use "../utilities/maps" as mapa;
@use "../utilities/mixin";
header {
    .botones {
    grid-area: botones;
    color: map.get(mapa.$colores,color-primario);
    font-size: 25px;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 15px;
    }
    .logo {
    grid-area: logo;
    padding: 15px;
    }
    .navegacion-principal{
    grid-area: navegacion;
    .container-fluid{
        .navbar-toggler{
            border: none;
            box-shadow: none;
        }
        .collapse{
            justify-content: center;
            .navbar-nav {
                justify-content: center;
                width: 100%;
                .nav-item{
                    .nav-link{
                        @include mixin.tipografia (("Roboto", sans-serif), 20px, map.get(mapa.$colores,"color-primario"));
                        }
                    }
                }
            }
        }
    }
    background-color: map.get(mapa.$colores,color-secundario);
    display: grid;
    grid-template-areas: 
    "logo busqueda busqueda botones"
    "navegacion navegacion navegacion navegacion";
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 40px;
    nav {
        ul{
            column-gap: 70px;
            border-top: 2.5px solid lightgrey;
            padding: 20px 0px 10px; 
        }
    }
    div {
        a{ 
            img {
                width: 100px;
                height: auto;
            }
        }
    }
    }