header {
    .logo {
    grid-area: logo;
    padding: 15px;
    }
    .navegacion-principal{
    grid-area: navegacion;
    .container-fluid{
        .navbar-toggler{
            border: none;
            box-shadow: none;
        }
        .collapse{
            justify-content: center;
            .navbar-nav {
                justify-content: center;
                width: 100%;
                .nav-item{
                    .nav-link{
                        color: #623b21;
                        font-family: "Roboto", sans-serif;
                        }
                    }
                }
            }
        }
    }
    background-color: #e3ebc6;
    display: grid;
    grid-template-areas: 
    "logo busqueda busqueda botones"
    "navegacion navegacion navegacion navegacion";
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 40px;
    nav {
        ul{
            column-gap: 70px;
            border-top: 2.5px solid lightgrey;
            padding: 20px 0px 10px; 
        }
    }
    div {
        a{ 
            img {
                width: 100px;
                height: auto;
            }
        }
    }
    }